<!DOCTYPE html>
<html lang="en">

{% block header %}{% endblock %}

<!-- <nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'music:index' %}">London Django Collective</a>
  <a class="navbar-brand" href="{% url 'music:djangoverse-page' %}">DjangoVerse</a>
  <a class="navbar-brand" href="#">Social Media</a>
</nav> -->



<nav class="navbar navbar-expand-md navbar-light bg-LDC">
    <a href="{% url 'music:index' %}" class="navbar-brand navbar-LDC">London Django Collective</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

<!-- nav-item nav-link active -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav navbar-links">
        	<a href="{% url 'music:contact-gigs' %}" class="navbar-brand">Contact & Gigs</a>
            <a href="{% url 'music:djangoverse-page' %}" class="navbar-brand">DjangoVerse</a>
            <a href="https://www.facebook.com/londondjangocollective" class="navbar-brand"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://www.instagram.com/londondjangocollective/" class="navbar-brand"><i class="fa fa-fw fa-instagram"></i></a>
            
        </div>
    </div>


</nav>


{% block content %}{% endblock %}

<!-- <footer>
	<hr>
	A footer: facebook, instagram, etc..
</footer> -->
</html>

