{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block header %}{% endblock %}

<nav class="navbar navbar-expand-md navbar-light bg-LDC">
    <!-- <a href="{% url 'music:index' %}" class="navbar-brand navbar-LDC">London Django Collective</a> -->
    <a href="{% url 'music:index' %}" class="navbar-brand navbar-LDC"><img src="{% static 'music/images/logo_small.png' %}" class="navbar-logo"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

<!-- nav-item nav-link active -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav navbar-links">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Music
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for vol in volumes %}
                        {% if vol.status == 'p' %}
                        <a class="dropdown-item" href="{% url 'music:volume' vol.slug %}">{{ vol.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
              </li>

        	<a href="{% url 'music:contact-gigs' %}" class="navbar-brand">Gigs & Contact</a>
            <a href="https://www.facebook.com/londondjangocollective" class="navbar-brand"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://www.instagram.com/londondjangocollective/" class="navbar-brand"><i class="fa fa-fw fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCcGuUAFEeboYs5ivUlrD5fA" class="navbar-brand navbar-last_social_media"><i class="fa fa-fw fa-youtube"></i></a>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'music:memes-page' %}">GypsyJazzMemes</a>
                <a class="dropdown-item" href="{% url 'DjangoVerse:djangoverse-page' %}">DjangoVerse</a>
            </div>
        </li>
        </div>

        

    </div>


</nav>


{% block content %}{% endblock %}

<!-- <footer>
	<hr>
	A footer: facebook, instagram, etc..
</footer> -->
</html>

