{% extends 'music/base.html' %}
{% load static from staticfiles %}

{% block header %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="Jazz musicians in London inspired by the music of Django Reinhardt">
	<meta name="keywords" content="London Django Collective, Django Reinhardt, London, Gypsy Jazz, Jazz Manouche, Jazz, music, UK">
	<meta name="author" content="">
	<meta property="og:image" content="{% static 'music/images/Logo_transparent_background_opt.png' %}"/>
	<meta property="og:title" content="London Django Collective" />
	<meta property="og:description" content="Jazz musicians in London inspired by the music of Django Reinhardt" />
	<meta property="og:url" content="http://www.londondjangocollective.com/" />
	<link rel="icon" href="{% static 'music/images/logo_small.png' %}" type="image/gif" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="{% static 'music/css/MyFontsWebfontsKit.css' %}">
	<link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">
    <link href="{% static 'music/css/homepage.css' %}" rel="stylesheet">


    <title>London Django Collective</title>
  </head>
{% endblock %}

{% block content %}
<body>



	<section class='container content-section text-center'>
		<div class='row'>
			<div class="col-md-8 offset-md-2">
			<img src="{% static 'music/images/Logo_transparent_background_opt.png' %}" class="homepage-logo">
				<p class='tagline'>Original jazz from London inspired by Django Reinhardt</p>
			</div>
		</div>
	</section>

	<section class='container text-center'>

		<div class='row'>
			{% for vol in volumes|slice:":3" %}
			<div class='col-md-4 col_vol_box'>
				{% include 'music/volume_box.html' %}
			</div>
			{% endfor %}
		</div>
		

		<div class='row'>
			{% for vol in volumes|slice:"3:6" %}
			<div class='col-md-4 col_vol_box volume-add-padding-top'>
				{% include 'music/volume_box.html' %}
			</div>
			{% endfor %}
		</div>


	</section>



	
<section class='container content-section text-center'>
	<div class='row'>
		<div class='col-md-8 offset-md-2'>
		<p>{% for player in players %}
				{% if forloop.last %}
					{{ player.name }}
				{% else %}
					{{ player.name }}, 
				{% endif %}
			{% endfor %}
		</p>
		</div>
	</div>
</section>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
	var sourceSwap = function() {
		var $this = $(this).find(".image_box");
		// only flip if volume is published and if the volume has a composer (ex: Tiger rag doesn't have a composer)
		if ($this.attr('status') === 'p' && $this.attr('le_vol_composer')) {
			var newSource = $this.attr('alt-src');
			$this.attr('alt-src', $this.attr('src'));
			$this.attr('src', newSource);
		}
	}
	$('.vol_pos_relative').hover(sourceSwap, sourceSwap)
    </script>

</body>

{% endblock %}