{% extends 'music/base.html' %}
{% load static from staticfiles %}


{% block header %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Jazz musicians in London inspired by the music of Django Reinhardt">
    <meta name="keywords" content="London Django Collective, Django Reinhardt, London, Gypsy Jazz, Jazz Manouche, Jazz, music, UK">
    <meta name="author" content="">
    <meta property="og:image" content="{% static 'music/images/Logo_transparent_background_opt.png' %}"/>
    <meta property="og:title" content="London Django Collective | memes" />
    <meta property="og:description" content="Jazz musicians in London inspired by the music of Django Reinhardt" />
    <meta property="og:url" content="http://www.londondjangocollective.com/" />
    <link rel="icon" href="{% static 'music/images/logo_small.png' %}" type="image/gif" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'music/css/MyFontsWebfontsKit.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">


    <title>London Django Collective - Gypsy Jazz Memes</title>

    <style type="text/css">
      .tagline {
        font-size: 1.7em
      }
      .hor_line {
        width: 25%;
      }
    </style>
  </head>
{% endblock %}

{% block content %}
<body>



  <section class='container content-section text-center'>
    <div class='row'>
      <div class="col-md-8 offset-md-2">
      <h1>Gypsy Jazz Memes</h1>
      <i class="tagline">- Purveyor of fine memes since 2018 -</i>
      <hr class='hor_line'>
      <p>Find us on <a href="https://www.instagram.com/gypsyjazzmemes/">Instagram</a>, <a href="https://en-gb.facebook.com/pages/category/Art/Gypsy-Jazz-Memes-454723728323986/">Facebook</a>, and <a href="https://www.reddit.com/user/gypsyjazzmemes">Reddit</a></p>
      </div>
    </div>
  </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

{% endblock %}