{% extends 'music/base.html' %}
{% load static from staticfiles %}


{% block header %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,300italic,400,400italic" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">
    <link href="{% static 'music/css/volume_page.css' %}" rel="stylesheet">


    <title>London Django Collective - {{ volume.name }}</title>
  </head>
{% endblock %}

{% block content %}
<body>

  <div class="text-center content-section">
    <h1>{{ volume.name }}</h1>
    <!-- <i>{{ volume.composer }}</i> -->
  </div>


<div class='container content-section'>

  <div class='row volume_relative'>
    <div>
      <iframe width="700" height="350" src="{{ volume.video_tune.video_embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
      <!-- <img src="{% if volume.image %}{{volume.image.url}}{% endif %}"> -->
    </div>
    
      <div class='video_tune_box'>
        <div class='video_title_box'>
          <h2>{{ volume.video_tune.name }}</h2>
        <i class='tune_composer_name'>by {{ volume.composer }}</i>
        </div>
        
        <hr class='video_line'>
        {{ volume.video_tune.band | safe }}
        <p>Download here</p>
      </div>
  </div>


  <div class='row audio_tune_box'>
      <div class='col-md-3 audio_title_box'>
        <h3 class='audio_tune_title'>{{ volume.audio_tune.name }}</h3>  
        <i class='tune_composer_name'>by {{ volume.composer }}</i>  
      </div>

      <div class='col-md-9 audio_tune_description'>
         <iframe style="border: 0; width: 70%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1356112642/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://latchepen.bandcamp.com/album/love-letters">Love Letters by Latchepen</a></iframe>
         {{ volume.audio_tune.band | safe }}
      </div>
    <vr>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

{% endblock %}