{% extends 'music/base.html' %}
{% load static from staticfiles %}


{% block header %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'music/css/MyFontsWebfontsKit.css' %}">
  <link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">
  <link href="{% static 'music/css/volume_page.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">


    <title>London Django Collective - {{ volume.name }}</title>
  </head>
{% endblock %}

{% block content %}
<body>

  <div class="text-center content-section">
    <h1>{{ volume.name }}</h1>
    <!-- <i>{{ volume.composer }}</i> -->
  </div>


<div class='container content-section'>

  <div class='row volume_relative'>
    <div>
      <!-- <iframe width="700" height="350" src="{{ volume.video_tune.video_embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <!-- <img width="700" height="350" src="{% if volume.image %}{{volume.image.url}}{% endif %}"> -->

    <!-- <div class="youtube_videos"> -->
      <a class="fancybox_videos fancybox.iframe" href="{{ volume.video_tune.video_embed }}"><img src="{% if volume.image %}{{volume.image.url}}{% endif %}" class="image_vol_box" /></a>
    <!-- </div> -->

    </div>
    
      <div class='video_tune_box band_list'>
        <div class='video_title_box'>
          <h1 class="video_tune_name">{{ volume.video_tune.name }}</h1>
        <p class='tune_composer_name'>by {{ volume.composer }}</p>
        </div>
        
        <hr class='video_line'>
        {{ volume.video_tune.band | safe }}
        <p>Download here</p>
      </div>
  </div>


  <div class='row audio_tune_box'>
      <div class='col-md-3 audio_title_box'>
        <h3 class='audio_tune_name'>{{ volume.audio_tune.name }}</h3>  
        <p class='tune_composer_name'>by {{ volume.composer }}</p>  
      </div>

      <div class='col-md-9 audio_tune_description'>
         <iframe style="border: 0; width: 70%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1356112642/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://latchepen.bandcamp.com/album/love-letters">Love Letters by Latchepen</a></iframe>

         <!-- <iframe src="https://open.spotify.com/embed/album/6n4MbIocFJ9oHFszyhN1uF" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
         
         {{ volume.audio_tune.band | safe }}
      </div>
    <vr>
  </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <script>
    // $(document).ready(function() {
    //   // console.log($('.fancybox_videos'));
    //     $('.fancybox_images').fancybox({
    //     helpers: {
    //       overlay: {
    //         locked: false
    //       }
    //     }
    //     });
    // });
    $(".fancybox_videos").fancybox({
      maxWidth  : 100,
      maxHeight : 100,
      fitToView : false,
      width   : '70%',
      height    : '70%',
      autoSize  : false,
      closeClick  : false,
      openEffect  : 'none',
      closeEffect : 'none',
      helpers: {
        overlay: {
          locked: false
        }
      }
    });
//   $(document).ready(function() {
//   $(".fancybox").fancybox({
//     openEffect  : 'none',
//     closeEffect : 'none',
//     helpers: {
//       overlay: {
//         locked: false
//       }
//     }
//   });
// });
</script>


</body>

{% endblock %}