{% if vol.status == "d" %}
<!-- <div class='vol_pos_relative'> -->
<a class='vol_pos_relative'>
{% else %}
<a href="{% url 'music:volume' vol.slug %}" class='vol_pos_relative'>
{% endif %}
<!-- 	<div 
	class='volume_box' 
	style='background-image: linear-gradient({% if vol.status == "d" %}
		rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)
		{% else %}
		rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)
	{% endif %}), url("{% if vol.image %}{{vol.image.url}}{% endif %}")'
	>
		<div class="volume_box_info">
			<h3>{{ vol.name }}</h3>
			{% if vol.composer %}
				<p class='volume_box_composer'>- {{ vol.composer }} -</p>
			{% endif %}

			{% if vol.status == "d" %}
				<p class="volume_coming_soon">coming soon...</p>
			{% endif %}
		</div>
	</div> -->


	<img src="{% if vol.image %}{{vol.image.url}}{% endif %}" class="image_box">
	

	<div class="volume_box_info">
		<h3>{{ vol.name }}</h3>
		{% if vol.composer %}
			<p class='volume_box_composer'>- {{ vol.composer }} -</p>
		{% endif %}

		{% if vol.status == "d" %}
			<p class="volume_coming_soon">coming soon...</p>
		{% endif %}
	</div>

	
{% if vol.status == "d" %}
<!-- </div> -->
</a>
{% else %}
</a>
{% endif %}