{% if vol.status == "d" %}
<a {% if vol.status == "d" and vol.pre_order %}href="{{vol.pre_order}}"{%endif%} class='vol_pos_relative addgradientdraft'>
{% else %}
<a href="{% url 'music:volume' vol.slug %}" class='vol_pos_relative addgradientpublished'>
{% endif %}

	<img 
	src="{% if vol.image %}{{vol.image.url}}{% endif %}" 
	alt-src="{% if vol.composer.image %}{{vol.composer.image.url}}{% endif %}" 
	status='{{ vol.status }}' 
	class="image_box"
	>
	<div class="volume_box_info">


		{% if vol.status == "d" %}
			{% if vol.release_date and vol.pre_order %}
				<p class='volume_coming_soon'>Release date: {{ vol.release_date }}</p>
				<p class='volume_coming_soon'>Presave on Spotify here!</p>
			{% else %}
				<p class="volume_coming_soon">coming soon...</p>
			{% endif %}
		{% endif %}



	</div>
	
{% if vol.status == "d" %}
</a>
{% else %}
</a>
{% endif %}