{% extends 'DjangoVerse/baseformedit.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>Edit Bands</title>
{% endblock %}


{% block bodyandform %}
<h1>Add/Edit Band</h1>	


	<div class="row">
		<div class='col-md-6'>
		<form method='POST' class='post-form' enctype="multipart/form-data">
			{% csrf_token %}
			<div class='form-row'>
				<div class='form-group col-md-6 mb-0'>
					{{ form.name|as_crispy_field }}
				</div>
				<div class='form-group col-md-6 mb-0'>
					{{ form.country|as_crispy_field }}
				</div>
			</div>
			<div class='form-row'>
				<div class='form-group col-md-12'>
					{{ form.description|as_crispy_field }}
				</div>	
			</div>
			<div class='form-row'>
				<div class='form-group col-md-4'>
					{{ form.external_URL|as_crispy_field }}
				</div>
				<div class='form-group col-md-4'>
					{{ form.image|as_crispy_field }}
				</div>
				<div class='form-group col-md-4'>
					{{ form.isactive|as_crispy_field }}
				</div>
			</div>
			<button type='submit' class='save btn btn-default'>Save</button>
		</form>
		</div>
	</div>
{% endblock %}

