{% extends 'music/base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Jazz musicians in London inspired by the music of Django Reinhardt">
	<meta name="keywords" content="London Django Collective, Django Reinhardt, London, Gypsy Jazz, Jazz Manouche, Jazz, music, UK">
	<meta name="author" content="">
	<meta property="og:image" content=""/>
	<meta property="og:title" content="London Django Collective" />
	<meta property="og:description" content="Jazz musicians in London inspired by the music of Django Reinhardt" />
	<meta property="og:url" content="https://londondjangocollective.com" />

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="{% static 'music/css/MyFontsWebfontsKit.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
	


    <!-- forms for Admin's filter_horizontal widget -->
    <script type="text/javascript" src="{% static 'DjangoVerse/js/jsil8n.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
	
	<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
	<!-- forms for filter_horizontal -->


	<link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">
    <link href="{% static 'DjangoVerse/css/forms.css' %}" rel="stylesheet">


	<title>Edit/Add Players</title>
</head>
{% endblock %}


{% block content %}
<body>

<div class="container">
	<h1>Add/Edit Player</h1>

	<div class='row'>
		<div class='col-md-10 offset-md-1'>
			<a href="{% url 'DjangoVerse:list-player' %}" class='btn btn-secondary'>Back to all players</a>	
		</div>
	</div>
	<div class="row">

			<div class='col-md-10 offset-md-1 player_form'>
				<form method='POST' class='post-form' enctype="multipart/form-data">
					{% csrf_token %}
					<div class='form-row'>
						<div class='form-group col-md-6 mb-0'>
							{{ form.name|as_crispy_field }}
						</div>
						<div class='form-group col-md-10 mb-0'>
							{{ form.country|as_crispy_field }}
						</div>
					</div>
					<div class='form-row'>
						<div class='form-group col-md-12'>
							{{ form.instrument|as_crispy_field }}
						</div>
					</div>
					<div class='form-row'>
						<div class='form-group col-md-12'>
							{{ form.gigged_with|as_crispy_field }}
						</div>
					</div>

					<div class='form-row'>
						<div class='form-group col-md-12'>
							{{ form.description|as_crispy_field }}
						</div>	
					</div>
					<div class='form-row'>
						<div class='form-group col-md-6'>
							{{ form.external_URL|as_crispy_field }}
						</div>
						<div class='form-group col-md-6'>
							{{ form.video_embed|as_crispy_field }}
						</div>
					</div>
					<div class='form-row'>
						<div class='form-group col-md-6'>
							{{ form.image|as_crispy_field }}
						</div>
						<div class='form-group col-md-6'>
							{{ form.isactive|as_crispy_field }}
						</div>
					</div>

					<div class='row'>
						<div class='col-md-4'>
							{% if player %}
								<a href="{% url 'DjangoVerse:delete-player' player.id %}" class='btn btn-danger delete_button'>Delete</a>
							{% endif %}		
						</div>
						<div class='col-md-8'>
							<button type='submit' class='btn btn-success other_save' name='btn-save-and-DjangoVerse'>Save and back to DjangoVerse</button>
							<button type='submit' class='btn btn-success other_save' name='btn-save-and-continue'>Save and continue editing</button>
							<!-- <button type='submit' class='btn btn-success other_save' name='btn-save-and-add'>Save and add another</button> -->
							<button type='submit' class='btn btn-success save_button' name='btn-save'>Save</button>
						</div>
					</div>
					
					
				</form>
			</div>
	</div>


</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
	// For some reason, adding the 'stacked' class after a delay of 0s works. 
	// If you don't do this, the last div doesn't get selected.
	// This is probably because the script runs before that div is built
	function addStackedMobile(){
		var window_width = $(window).width();
		if (window_width < 1200){
			setTimeout(
				() => $('#div_id_instrument').children('div').children('div').addClass("stacked"),
				 800)
			setTimeout(
				() => $('#div_id_gigged_with').children('div').children('div').addClass("stacked"),
				 800)
		}}
	addStackedMobile();
</script>

</body>
{% endblock %}