{% extends 'music/base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Jazz musicians in London inspired by the music of Django Reinhardt">
	<meta name="keywords" content="London Django Collective, Django Reinhardt, London, Gypsy Jazz, Jazz Manouche, Jazz, music, UK">
	<meta name="author" content="">
	<meta property="og:image" content=""/>
	<meta property="og:title" content="London Django Collective" />
	<meta property="og:description" content="Jazz musicians in London inspired by the music of Django Reinhardt" />
	<meta property="og:url" content="https://londondjangocollective.com" />

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="{% static 'music/css/MyFontsWebfontsKit.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
	<link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">
    <link href="{% static 'DjangoVerse/css/forms.css' %}" rel="stylesheet">


	<title>All Players</title>
</head>

{% endblock %}

{% block content %}
<body>

<div class="container">
	<h1>All Players</h1>	
	
	<div class='row model_list_buttons'>
		<div class='col-md-3'>
			<a class="btn btn-secondary add_player_button" href="{% url 'DjangoVerse:add-player' %}" role="button">Add Player</a>	
		</div>
		<div class='col-md-4 offset-md-5'>
			<a class="btn btn-success button_other_model" href="{% url 'music:djangoverse-page' %}" role="button">Back to DjangoVerse</a>	
			<!-- <a class="btn btn-secondary button_other_model" href="{% url 'DjangoVerse:add-instrument' %}" role="button">Add Instrument</a>	 -->
			<a class="btn btn-secondary button_other_model" href="{% url 'DjangoVerse:list-instruments' %}" role="button">Edit Instrument</a>	
		</div>
		<hr class='model_header_hr'>
	</div>
	<div class="row list-players">
		<div class='col-md-6'>
			<ol>
			{% for player in players %}
				<li class='player_list_element'>
					<div class='row'>
						<div class='col-6 col-xs-6 col-md-6'>
						<p><a href="{% url 'DjangoVerse:edit-player' player.id %}" class="player_list_element_name">{{ player.name }}</a></p>	
						</div>
						<div class='col-3 col-xs-3 col-md-3'>
							 <img src="{% if player.image %}{{ player.image.url }}{% endif %}" class="player_list_element_img" width='50px'> 
						</div>
					</div>
					<!-- <p><a href="{% url 'DjangoVerse:edit-player' player.id %}" >{{ player.name }}</a> <img src="{% if player.image %}{{ player.image.url }}{% endif %}" width='50px'> </p> -->
				</li>
				<hr align='left' class='player_list_hr'>
			{% endfor %}
			</ol>
		</form>
		</div>
	</div>

</div>
</body>

{% endblock %}
