body {
	background-color: #F8F8F8;
}
form, button, .form-group {
	font-family: 'Lato', sans-serif;
}
/*{
	font-family: 'Lato', sans-serif;
}*/
a.btn-secondary, .btn-success, .btn-danger {
	color: #fff;
	font-family: 'Lato', sans-serif;
}
a.btn-danger {
	color: #fff;
}
.list-players{
	font-family: 'Lato', sans-serif;	
	margin-top: 40px;
}
.player_form {
	background-color: white;
	padding: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	border-radius: 15px;
}
.other_save{
	background-color: #28a745a6;
	border-color: #28a745a6;
}
.other_save:hover {
	background-color: #28a745e3;
	border-color: #28a745e3;
}
.confirm_delete{
	text-transform: none;
	font-size: 30px;
	text-align: left;
}
.delete_container{
	margin-top: 50px;
	padding: 30px;
	background-color: white;
	border-radius: 5px;
}
.cancel_delete{
	margin-left: 15px;
}
.player_list_hr {
	width: 40%;
	margin: 1px 4%;

}
.player_list_element > p > a{
	font-size: 16px;
}
.button_other_model{
	margin-left: 10px;
}
.model_header_hr{
	margin: 1px 4%;
	width: 90%;
	margin-top: 40px;
}
.model_list_buttons{
	margin-top: 40px;
}

/* M2M forms on mobile */
#div_id_instrument > div > .stacked > .selector-available {
	width: 100%;
}
#div_id_instrument > div > .stacked > .selector-chosen {
	width: 100%;
}
.stacked, #id_instrument_input, #id_instrument_from, #id_instrument_to {
	width: 100%;
}

#div_id_gigged_with > div > .stacked > .selector-available {
	width: 100%;
}
#div_id_gigged_with > div > .stacked > .selector-chosen {
	width: 100%;
}
.stacked, #id_gigged_with_input, #id_gigged_with_from, #id_gigged_with_to {
	width: 100%;
}


@media(max-width: 857px){
	.other_save, .delete_button, .save_button, .add_player_button, .button_other_model{
		width: 100%;
		margin-top: 5px;
	}
	.button_other_model{
		margin-left: 0px;
	}
	.add_player_button{
		margin-bottom: 15px;
	}
}