{% extends 'music/base.html' %}
{% load static from staticfiles %}

{% block header %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,300italic,400,400italic" rel="stylesheet">

    <link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">


    <title>London Django Collective - DjangoVerse</title>
  </head>

{% endblock %}

{% block content %}
<body>

	<h1>Django Verse</h1>
	<iframe src="https://djangoversereact.s3.eu-west-2.amazonaws.com/index.html" width=90% height="700px;" style="margin-left:5%; margin-top:30px;"></iframe>

	<p>View <a href="https://djangoversereact.s3.eu-west-2.amazonaws.com/index.html" target="_blank">fullscreen</a></p>
	<h2>About</h2>
	The DjangoVerse is essential Wikipedia for Gypsy Jazz. You can find players, bands, and their albums, as well as venues and festivals in this interactive graph. You can also data to this yourself! 

	<h4>Tips about adding information</h4>

	<li>Add yourself or your faverite players to the graph!</li>
	<li>other</li>

	<h2>Contribute</h2>

	Send any feedback, bugs, or other to jeremie.coullon@gmail.com. If you're a nerd you can open an issue or make a pull request on <a href="https://github.com/jeremiecoullon/">Github</a>

	<hr>


</body>
{% endblock %}
