{% extends 'music/base.html' %}
{% load static from staticfiles %}

{% block header %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'music/css/MyFontsWebfontsKit.css' %}">
    <link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">
    <link href="{% static 'music/css/DjangoVerse.css' %}" rel="stylesheet">


    <title>London Django Collective - DjangoVerse</title>
  </head>

{% endblock %}

{% block content %}
<body>

	<h1>DjangoVerse</h1>

<div class='container'>
	<iframe src="https://djangoversereact.s3.eu-west-2.amazonaws.com/index.html" width=100% height="700px;" class="embedded-iframe"></iframe>
	<p>View <a href="{% url 'music:djangoverse-fullscreen' %}" >fullscreen</a></p>
	
	<h2>About</h2>
	<p>
		The DjangoVerse is essentially Wikipedia for Gypsy Jazz. You can find players, bands, and festivals in this interactive 3D graph. You can also data to this yourself! 
	</p>
	

	<h3>Tips about adding information</h3>

	<p>Add yourself or your faverite players to the graph!</p>
	<div class='row'>
		<div class='col-md-4'>
			<a class="btn btn-primary" href="{% url 'DjangoVerse:edit-festival' '164b3293-748f-4b26-9af4-4b61ad56d59b' %}" role="button">Add Player</a>
			<a class="btn btn-primary" href="{% url 'DjangoVerse:edit-festival' '164b3293-748f-4b26-9af4-4b61ad56d59b' %}" role="button">Edit existing Player</a>		
		</div>
		<div class='col-md-4'>
			<a class="btn btn-primary" href="{% url 'DjangoVerse:edit-festival' '164b3293-748f-4b26-9af4-4b61ad56d59b' %}" role="button">Add Band</a>
			<a class="btn btn-primary" href="{% url 'DjangoVerse:edit-festival' '164b3293-748f-4b26-9af4-4b61ad56d59b' %}" role="button">Edit existing Band</a>		
		</div>
		<div class='col-md-4'>
			<a class="btn btn-primary" href="{% url 'DjangoVerse:post-festival' %}" role="button">Add Festival</a>
			<a class="btn btn-primary" href="{% url 'DjangoVerse:edit-festival' '164b3293-748f-4b26-9af4-4b61ad56d59b' %}" role="button">Edit existing Festival</a>		
		</div>
	</div>
	

	<h2>Contribute</h2>
	<p>Send any feedback, bugs, or other to jeremie.coullon@gmail.com. If you're a nerd you can open an issue or make a pull request on  <a href="https://github.com/jeremiecoullon/DjangoVerse-react">Github</a></p>
	
	<hr>

</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endblock %}
