{% extends 'music/base.html' %}
{% load static from staticfiles %}

{% block header %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,300italic,400,400italic" rel="stylesheet">

    <link href="{% static 'music/css/LDC_base.css' %}" rel="stylesheet">
    <link href="{% static 'music/css/DjangoVerse.css' %}" rel="stylesheet">


    <title>London Django Collective - DjangoVerse</title>
  </head>

{% endblock %}

{% block content %}
<body>

	<h1>DjangoVerse</h1>

<div class='container'>
	<iframe src="https://djangoversereact.s3.eu-west-2.amazonaws.com/index.html" width=100% height="700px;" class="embedded-iframe"></iframe>
	<p>View <a href="{% url 'music:djangoverse-fullscreen' %}" >fullscreen</a></p>
	
	<h2>About</h2>
	<p>
		The DjangoVerse is essentially Wikipedia for Gypsy Jazz. You can find players, bands, and festivals in this interactive 3D graph. You can also data to this yourself! 
	</p>
	

	<h3>Tips about adding information</h3>

	<li>Add yourself or your faverite players to the graph!</li>
	<li>other</li>

	<h2>Contribute</h2>

	Send any feedback, bugs, or other to jeremie.coullon@gmail.com. If you're a nerd you can open an issue or make a pull request on <a href="https://github.com/jeremiecoullon/DjangoVerse-react">Github</a>

	<hr>

</div>

</body>
{% endblock %}
