.content-section{
	padding-top: 100px;
}
.tagline{
	font-style: italic;
}
.musician_name {
    margin-bottom: 30px;
}
.volume_box{
	height: 300px;
	color: white;
	background-size: cover;
}
.volume_box_info{
	padding-top: 25px;
}
h1	{
	color: blue
}