.tagline{
	font-size: 1.9em;
	padding-bottom: 40px;
}
.musician_name {
    margin-bottom: 30px;
}
.volume_box{
	/*height: 300px;*/
	width: 300px;
	color: white;
	background-size: cover;
}
.volume_box_info{
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%, -50%)
}
.volume_box_info > h3 {
	font-size: 35px;
}

.volume_box_composer {
	font-size: 35px;
}

.volume_coming_soon {
	padding-top: 10px;
}
.volume-add-padding-top{
    padding-top: 100px;
}

.image_box {
	width: 100%;
	height: 300px;
	width: 300px;
	filter: brightness(30%);
}
.vol_pos_relative { 
	position: relative;
}
@media (max-width: 767px) {
	.col_vol_box {
		margin-top: 20px;
	}
	.volume-add-padding-top{
	    padding-top: 20px;
	}
	.tagline {
		padding-bottom: 0px;
	}
}

