.tagline{
	font-size: 1.9em;
	padding-bottom: 40px;
}
.musician_name {
    margin-bottom: 30px;
}
.volume_box{
	height: 300px;
	/*width: 300px;*/
	color: white;
	background-size: cover;
}
.volume_box_info{
	position: absolute;
	left: 15%;
	top: 12%;
	width: 70%;
	z-index: 10;
}
.volume_box_info > h3 {
	font-size: 35px;
}

.volume_box_composer {
	font-size: 35px;
}

/*.addgradientpublished{
  position:relative;
  display:inline-block;
}
.addgradientpublished:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); 
  background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); 
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
}*/

.addgradientdraft{
  position:relative;
  display:inline-block;
}
.addgradientdraft:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.volume_coming_soon {
	padding-top: 10px;
}
.volume-add-padding-top{
    padding-top: 100px;
}

.image_box {
	width: 100%;
	height: 300px;
	width: 330px;
}
.vol_pos_relative { 
	/*position: relative;*/
	/*color: #B47B27;*/
}
.volume_box_composer, .volume_coming_soon {
	color: #fff;
}
.homepage-logo{
 width: 40%;
}
@media (max-width: 767px) {
	.col_vol_box {
		margin-top: 20px;
	}
	.volume-add-padding-top{
	    padding-top: 20px;
	}
	.tagline {
		padding-bottom: 0px;
	}
}
@media (max-width: 468px){
  .homepage-logo {
    width: 70%;
  }
}

