.video_tune_box {
	background-color: white;
	height: 100px;
	position: absolute;
	right: 0;
	top: 5%;
	width: 50%;
	height: 88%;
	padding: 15px 80px;
	text-align: center;
}
.video_tune_box > p {
	font-size: 1em;
}
.band_list > p {
	font-size: 1.4em;
}
.audio_tune_description {
	padding-top: 15px;
}

.audio_tune_description > p {
	font-size: 1.5em;
}

.tune_composer_name_video {
	font-size: 1.3em;
	text-align: center;
}
.tune_composer_name_audio {
	font-size: 1.3em;
	text-align: left;
}

.volume_relative {
	position: relative;
}
.video_line {
	width: 50%;
	padding: 0 ;
}

.video_title_box {
	text-align: center;
}
.video_tune_name{
	font-size: 3.2em;
}
.audio_tune_box {
	background-color: white;
	height: 150px;
	width: 90%;
	padding: 15px 20px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.audio_tune_name {
	text-align: left;
	font-size: 2.5em;
}

.audio_title_box {
	/*border-right: 1px solid rgba(0,0,0,.1);*/
	height: 100%;
}
.audio_tune_download_col {
	border-right: 1px solid rgba(0,0,0,.1);
	padding-top: 2%;
	padding-left: 0px;
}
#audio_tune_itunes_logo {
	position: relative;
	top: 5px;
	width: 80%;
}
.image_vol_box {
	width: 700px;
	/*height: 350px;*/
}

/* for spotify and bandcamp download buttons */
.video_tune_download_wrapper > a {
	/*margin-left: 5px;
	margin-right: 5px;*/
	margin: 5px;

}

/* Mobile stylings for overlapping box */
@media (max-width: 767px) {
	.video_tune_box {
		position: static;
		margin-top: 15px;
		margin-left: 5%;
		width: 90%;
		padding: 15px 10px;
	}
	.image_vol_box {
		width: 90%;
		height: 300px;
		margin-left: 5%;
	}
	.audio_tune_box {
		width: 100%;
		margin: 5% 0px;
		padding: 15px 10px;
		height: 350px;
	}
	.audio_title_box {
		height: 110px;
	}
	.audio_tune_description {
		padding-top: 0px;
	}
	.audio_tune_download_col {
	margin-bottom: 18px;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.video_tune_box {
		padding: 5px 20px;
		height: 94%;
	}
	.audio_tune_box {
		height: 200px;
	}
}