.video_tune_box {
	background-color: white;
	height: 100px;
	position: absolute;
	right: 0;
	top: 5%;
	width: 50%;
	height: 80%;
	padding: 30px 77px;
	text-align: center;
}
.video_tune_box > p {
	font-size: 1em;
}
.band_list > p {
	font-size: 1.4em;
}
.audio_tune_description {
	padding-top: 15px;
	border-left: 1px solid rgba(0,0,0,.1);
}

.audio_tune_description > p {
	font-size: 1.5em;
}

.tune_composer_name_video {
	font-size: 1.3em;
	text-align: center;
}
.tune_composer_name_audio {
	font-size: 1.3em;
	text-align: left;
}

.volume_relative {
	position: relative;
}
.video_line {
	width: 50%;
	padding: 0 ;
}

.video_title_box {
	text-align: center;
}
.video_tune_name{
	font-size: 3.2em;
}
.audio_tune_box {
	background-color: white;
	height: 150px;
	width: 90%;
	padding: 15px 20px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.audio_tune_name {
	text-align: left;
	font-size: 2.5em;
}

.audio_title_box {
	/*border-right: 1px solid rgba(0,0,0,.1);*/
	height: 100%;
}
#audio_tune_itunes_logo {
	position: relative;
	top: 5px;
	width: 80%;
}
.image_vol_box {
	width: 700px;
	/*height: 350px;*/
}

.video_wrapper {
	position: relative;
}
.video_button_wrapper {
	height: 100px;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.download_button{
	padding-left: 10px;
}
.download_image_logo {
	width: 50px;
}
.download_svg_logo {
	width: 130px;
}
/* Mobile stylings for overlapping box */
@media (max-width: 767px) {
	.video_tune_box {
		position: static;
		margin-top: 15px;
		margin-left: 5%;
		width: 90%;
		padding: 15px 10px;
	}
	.image_vol_box {
		width: 90%;
		height: 300px;
		margin-left: 5%;
	}
	.audio_tune_box {
		width: 100%;
		margin: 5% 0px;
		padding: 15px 10px;
		height: 350px;
	}
	.audio_title_box {
		height: 110px;
	}
	.audio_tune_description {
		padding-top: 0px;
	}
	.download_image_logo {
		width: 28px;
	}
	.download_svg_logo {
		width: 80px;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.video_tune_box {
		padding: 5px 20px;
		height: 94%;
	}
	.audio_tune_box {
		height: 200px;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.image_vol_box {
		width: 440px;
	}
	.video_tune_name {
		font-size: 2.6em;
	}
	.band_list > p {
		font-size: 1.2em;
	}
	.video_tune_box {
		padding: 5px 15px;
	}
	.tune_composer_name {
		font-size: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.image_vol_box {
		width: 550px;
	}
}